.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--secondary-color);
  width: 40%;
  margin: 50px auto;
  padding: 30px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="file"],
.form select,
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-size: 16px;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus,
.form input[type="file"]:focus,
.form textarea:focus {
  border-color: var(--tertiary-color);
  box-shadow: 0 5px 5px var(--primary-color);
  outline: none;
}

.rating-card {
  display: flex;
  max-width: 33rem;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 0.5rem;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.star {
  font-size: 30px;
  cursor: pointer;
}

.one {
  color: rgb(255, 0, 0);
}

.two {
  color: rgb(255, 106, 0);
}

.three {
  color: rgb(251, 255, 120);
}

.four {
  color: rgb(255, 255, 0);
}

.five {
  color: rgb(24, 159, 14);
}

#add-btn {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-btn:hover {
  background-color: var(--tertiary-color);
}

@media screen and (max-width: 1000px) {
  .form {
    width: 90%;
  }
  .star {
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .form {
    width: 100%;
  }
  .star {
    font-size: 20px;
  }
}
